﻿@{
    ViewBag.Title = "listUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc
@model PagedList.IPagedList<LoginModel>

<div class="row">
    <div class="col-md-10 col-sm-12 col-12 text-dark mt-2">
        <h4><i class="fa fa-fw fa-users"></i> Danh sách</h4>
    </div>
    <div class="col-md-2 col-sm-12 col-12 text-dark mt-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>Thêm mới</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-2 mt-sm-2">
        @*<table class="table table-bordered">*@
        <table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">Tên</th>
                    <th class="text-center">Mật Khẩu</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                    foreach (var data in Model)
                    {
                        <tr>
                            <td class="text-center">@stt</td>
                            <td class="text-center">@data.Id </td>
                            <td class="text-center">@data.Name</td>
                            <td class="text-center">@data.Password</td>
                            @{ if (data.IsActive == 1)
                                {
                                    <td class="text-center">Hoạt động</td>
                                }
                                else
                                {
                                    <td class="text-center">Không hoạt động</td>
                                }
                            }
                            <td style="text-align:center">
                                <a data-toggle="tooltip" data-placement="top" title="Sửa" class="cursor-pointer" onclick="LoadUser(@data.Id);">
                                    <i class="fa fa-pencil" style="color:forestgreen"></i>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Sửa banner" class="cursor-pointer" onclick="DeleteUser(@data.Id)">
                                    <i class="fa fa-trash-o" style="color:red"></i>
                                </a>
                            </td>
                        </tr>
                        stt++;
                    }
                }
            </tbody>
        </table>

        <div id="loadDetailUser">

        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="createCategory">
                <form id="form_create_categories" name="form_create_categories">
                    <div class="row m-3">
                        <p class="mb-0 color-require"><label class="text-dark">Tên</label> *</p>
                        <input placeholder="Nhập vào tên" id="name" name="Name" class="form-control" type="text" />
                    </div>
                    <div class="row m-3">
                        <p class="mb-0 color-require"><label class="text-dark">Mật khẩu</label></p>
                        <input placeholder="Nhập vào mật khẩu" id="password" name="Password" class="form-control" type="password" />
                    </div>
                    <div class="row m-3">
                        <p class="mb-0 color-require"><label class="text-dark">Nhập lại mật khẩu</label></p>
                        <input placeholder="Nhập vào mật khẩu" id="confirmpassword" name="confirmPassword" class="form-control" type="password" />
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times pr-1"></i>Đóng</button>
                <button type="button" class="btn btn-primary px-3" onclick="createUser();"><i class="fa fa-check pr-1"></i>Lưu</button>
            </div>

        </div>
    </div>
</div>
<script>
    function createUser() {
        debugger;
        var name = $('#name').val();
        var password = $('#password').val();
        var confirmpassword = $('#confirmpassword').val();
        if (password != confirmpassword) {
            swal({
                title: "Thông báo",
                text: "Mật khẩu và xác nhận mật khẩu khác nhau",
                icon: "warning"
            })
            return;
        }
        if (name.length == "" || password.length == "" || confirmpassword.length == "") {
            swal({
                title: "Thông báo",
                text: "Vui lòng nhập đầy đủ thông tin!",
                icon: "warning"
            })
            return;
        } else {
            $.ajax({
                url: '/Home/Create',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify({
                    Name: name,
                    Password: password,
                    IsActive: 1,
                }),
                success: function (res) {
                    debugger;
                    swal({
                        title: "Thêm mới thành công!",
                        text: "",
                        icon: 'success'
                    }).then((rp) => {
                        if (rp) {
                            location.reload();
                        }
                    })
                    window.location = '/Home/listUser';
                },
                error: function (ex) {
                    swal({
                        title: " Failed!",
                        text: "Thên mới thất bại!",
                        icon: "warning",
                        button: "Close",
                    })
                }
            });
        }
    };
    function LoadUser(Id) {
        debugger;
        $.ajax({
            url: '/Home/LoadUser',
            type: "GET",
            data: { id: Id },
            success: function (response) {
                debugger;
                $('#loadDetailUser').html(response);

                $('#DetailUser').modal('show');
            },
            error: function (result) {
                debugger;
            }
        });
    };

    function DeleteUser(id) {
        swal({
            title: "Bạn chắc chắn xóa chứ?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((isconfirm) => {
            if (isconfirm) {
                $.ajax({
                    url: '/Home/Delete',
                    type: "POST",
                    data: { Id: id },
                    success: function (response) {
                        if (response == true) {
                            swal({
                                title: "Thông báo",
                                text: "Xóa thành công!",
                                icon: "success"
                            });
                            window.location = "/Home/listUser";
                        }
                        else {
                            swal({
                                title: "Thông báo",
                                text: "Lỗi!",
                                icon: "warning"
                            });
                        }
                    }
                });
            }
        })
    }

</script>

